{% extends 'base.html' %}

{% block content %}
    <h1>Devices: </h1>
    <table class='table'>
    {% for post in posts %}
      {% if post['model'].startswith('MR') %}
        <tr>
          <td>Router</td><td><a > {{ post['serial'] }}</a></td>
           <td><button type="button" class="btn btn-outline-dark">Configure</button></td>
          <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
        </tr>
      {% elif post['model'].startswith('MS')%}
        <tr>
          <td>Switch</td><td><a> {{ post['serial'] }}</a></td>
          <td><a href='{{ url_for("switch", serial = post["serial"])}}'><button type="button" class="btn btn-outline-dark">Configure Interfaces</button></a></td>
          <td><button type="button" class="btn btn-outline-danger">Delete</button></td>


        </tr>
      {% elif post['model'].startswith('MX') %}
        <tr>
          <td>AP</td><td><a> {{ post['serial'] }}</a></td>
           <td><button type="button" class="btn btn-outline-dark">Configure</button></td>
          <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
        </tr>
      {% else %}
        <tr>
          <td>Otros equipos: </td><td><a> {{ post['serial'] }}</a></td>
        </tr>
      {% endif %}
        
    {% endfor %}
    </table>
{% endblock %}